* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
#firsthead {
font-family: michroma;

}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}

header {
  background: #7563e8;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #7563e8;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  border-color: rgb(94, 4, 139);
  color: #faf6f6;
  border-radius: 7px;
  margin: 5px 0;
  border-width: 4px;
  border-style: outset;
}

.btn:hover {
  color: rgb(218, 218, 226);
  
}


.bg-dark {
  background: #333;
  color: #fff;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
.success {
  background: #05d53c;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
#title {
  font-family: Michroma, sans-serif;
  font-weight: 800;
}

.delete-btn{
  background: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 6px;
}

.delete-btn:hover {
  background: darkred;
}